/* search-box */
.search-box {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.fa-search {
    padding: 10px;
    font-size: 20px;
}
input[type="search"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}
